.Chat-main
  .Chat-main__head
    .Group-name
      = @group.name
      .Menber
        .Menber-title
          Menber：
        .Menber-name
          - @group.group_users.each do |group_user|
            = group_user.user.name
    .Edit__btn
      = link_to 'Edit', edit_group_path(@group)
      
  .Chat-main__message
    = render @messages
 
  .Chat-main__form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .FormArea
        = f.text_field :content, class: 'Form__text', placeholder: 'type a message'
        = f.label :image, class: 'picicon' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Submit__btn'