.Side-bar
  .Side-bar__user
    .Top-items
      .Top-item__name
        = current_user.name
      .Top-item__icon
        = link_to new_group_path(current_user), class: "Contents__btn" do
          = icon('far', 'edit', class: 'moving')
        = link_to edit_user_path(current_user), class: "Contents__btn" do
          = icon('fas', 'cog', class: 'moving')
  .Side-bar__group
    - current_user.groups.each do |group|
      .Group-logs
        = link_to group_messages_path(group) do
          .Group-log__high
            = group.name
          .Group-log__low
            = group.show_last_message